.section1 {
    width: 1510px;
    height: 700px;
    padding-top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("Boxes.png"), url("Fruits.png");
    background-repeat: no-repeat;
    background-position: left -10px top 31.5%, right 52px top 16%;
    background-size: 400px, 330px;
    margin: 0 calc((100% - 1510px) / 2);
}

.section1 > h4 {
    height: 18px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #f43939;
    line-height: 18px;
    margin: 0 0 16px;
}

.section1 > h2 {
    margin: 0 auto;
    width: 812px;
    height: 160px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.4;
}

.section1 > button {
    width: 214px;
    min-height: 52px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-image: linear-gradient(104deg, #ff474d, #fa4353);
    color: white;
    font-size: 15px;
    line-height: 52px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.25);
}

.section1 > button:hover {
    background: rgb(237, 59, 59);
}

.section1 > p {
    margin-top: 16px;
    height: 20px;
    font-size: 12px;
    color: #909599;
    margin-bottom: 132px;
}

@media (max-width: 1279px) {
    .section1 {
        width: 100%;
        margin: auto;
        background-position: left -220px top 31%, right -152px top 16%;
    }

    .section1 > p {
        margin-bottom: 133px;
    }

}

@media (max-width: 1023px) {
    .section1 {
        background-position: left -250px top 32%, right -168px bottom 84%;

    }

    .section1 > h2 {
        width: 96%;
        height: 224px;
        line-height: 1.4;
    }

    .section1 > p {
        margin-bottom: 94px;
    }

    .section1 > img {
        width: 689px;
        height: 358px;
    }
}

@media (max-width: 767px) {
    .section1 {
        height: 1040px;
        background-size: 400px, 326px;
        background-position: left -174px bottom 44px, right -164px bottom 5px;
        margin-bottom: 90px;
        padding-top: 46px;
    }
    .section1 > h4 {
        margin-left: 22px;
    }
    .section1 > h2 {
        max-width: 100%;
        width: 312px;
        min-height: 155px;
        font-size: 28px;
        margin-bottom: 48px;
    }

    .section1 > p {
        margin-bottom: 680px;
    }

    .section1 > img {
        width: auto;
        height: 385px;
        margin: 0 0 0 41px;
        align-self: flex-start;
    }
}