.section5 {
    padding-top: 127px;
    height: 982px;
}

.section5 > .textBlock {
    display: flex;
    text-align: left;
    max-width: 1280px;
    margin: 0 auto;
}

.section5 > .textBlock > h2 {
    margin: 0 156px 0 126px;
    width: 441px;
    line-height: 44px;
    font-size: 32px;
    font-weight: bold;
}

.section5 > .textBlock > span {
    margin: 15px 0 76px 0;
    height: 90px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    color: #787c80;
}

.section5 > .imgBlock {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.section5 > .imgBlock > div {
    display: flex;
    align-items: flex-start;
    flex-basis: 316px;
    height: 552px;
    border-radius: 52px;
    background-color: #e1eff0;
    flex-shrink: 0;
    position: relative;
}

.section5 > .imgBlock > div > img {
    position: absolute;
}

.section5 > .imgBlock > div:nth-of-type(1) > img {
    width: 308px;
    height: 495px;
    top: 39px;
    left: -38px;
}

.section5 > .imgBlock > div:nth-of-type(2) > img {
    width: 309px;
    height: 497px;
    top: 39px;
    left: -37px;
}

.section5 > .imgBlock > div:nth-of-type(3) > img {
    width: 309px;
    height: 497px;
    top: 39px;
    left: -39px;
}

.section5 > .imgBlock > div:nth-of-type(2) {
    margin-left: 41px;
}

.section5 > .imgBlock > div:nth-of-type(3) {
    margin-left: 41px;
}

.section5 > .imgBlock > div > span {
    margin: auto auto 29px;
    opacity: 0.4;
    font-size: 14px;
    font-weight: 600;
    padding-right: 24px;
    padding-left: 24px;
    background-image: url("arrow.svg");
    background-repeat: no-repeat;
    background-position: right;

}

.section5 > .imgBlock > div:nth-of-type(1) > span {
    transform: translate(-3px, 1px);
}

.section5 > .imgBlock > div:nth-of-type(2) > span {
    line-height: 2.14;
    margin-bottom: 26px;
}

.section5 > .imgBlock > div:nth-of-type(3) > span {
    line-height: 2.14;
    margin-bottom: 26px;
    background-image: url("checkmark.svg");
    transform: translate(-3px, 1px);
}


@media (max-width: 1279px) {
    .section5 {
        height: 878px;
    }

    .section5 > .textBlock > h2 {
        margin: 0 45px 0 69px;
    }

    .section5 > .imgBlock {
        margin: 0 68px;
    }

    .section5 > .imgBlock > div {
        flex-basis: 265px;
        height: 464px;
        border-radius: 46.8px;
    }

    .section5 > .imgBlock > div:nth-of-type(1) > img {
        width: 248px;
        height: 401px;
        top: 33px;
        left: -25px;
    }

    .section5 > .imgBlock > div:nth-of-type(2) > img {
        width: 249px;
        height: 402px;
        top: 33px;
        left: -29px;
    }

    .section5 > .imgBlock > div:nth-of-type(3) > img {
        width: 249px;
        height: 402px;
        top: 32px;
        left: -28px;
    }

    .section5 > .imgBlock > div > span {
        margin: auto auto 24px;
        line-height: 2.14;
    }

    .section5 > .imgBlock > div:nth-of-type(1) > span {
        transform: translate(-6px, -1px);
    }

    .section5 > .imgBlock > div:nth-of-type(2) > span {
        transform: translate(-5px, 2px);
    }

    .section5 > .imgBlock > div:nth-of-type(3) > span {
        transform: translate(-4px, 1px);
    }

    .section5 > .imgBlock > div:nth-of-type(2) {
        margin-left: 47px;
    }

    .section5 > .imgBlock > div:nth-of-type(3) {
        margin-left: 46px;
    }

}

@media (max-width: 1023px) {
    .section5 {
        padding-top: 96px;
        height: 2917px;
    }

    .section5 > .textBlock {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section5 > .textBlock > h2 {
        margin: 0;
        width: 100%;
    }

    .section5 > .textBlock > span {
        margin: 24px 0 101px;
    }

    .section5 > .imgBlock {
        flex-direction: column;
        align-items: center;
    }

    .section5 > .imgBlock > div {
        flex-basis: 718px;
        width: 411px;
        border-radius: 67.6px;
        background-color: #e1eff0;
        margin: 0 0 96px;
        transform: translateX(5px);
        position: relative;
    }
    .section5 > .imgBlock > div:nth-of-type(1), .section5 > .imgBlock > div:nth-of-type(2), .section5 > .imgBlock > div:nth-of-type(3) {
        margin-left: 0;
    }

    .section5 > .imgBlock > div:nth-of-type(1) > img {
        width: 398px;
        height: 643px;
        top: 51px;
        left: -49px;
    }

    .section5 > .imgBlock > div:nth-of-type(2) > img {
        width: 400px;
        height: 646px;
        top: 49px;
        left: -47px;
    }

    .section5 > .imgBlock > div:nth-of-type(3) > img {
        width: 400px;
        height: 646px;
        top: 48px;
        left: -52px;
    }

    .section5 > .imgBlock > div:not(:nth-of-type(3)) > span {
        background-image: url("arrow_down.svg");
    }

    .section5 > .imgBlock > div > span {
        font-size: 18.2px;
        margin: auto auto 13px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 18px;
        background-position: center bottom;
    }

    .section5 > .imgBlock > div:nth-of-type(1) > span {
        transform: translate(-2px, 0px);
    }

    .section5 > .imgBlock > div:nth-of-type(2) > span {
        transform: translate(4px, 13px);
    }

    .section5 > .imgBlock > div:nth-of-type(3) > span {
        transform: translate(-2px, 13px);
    }
}

@media (max-width: 767px) {
    .section5 {
        height: 1927px;
        padding-top: 60px;
    }

    .section5 > .textBlock > h2 {
        font-size: 28px;
        line-height: 39px;
    }

    .section5 > .textBlock > span {
        margin: 24px 0 60px;
        width: 100%;
        height: 120px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.67;
    }

    .section5 > .textBlock > span > br {
        display: none;
    }

    .section5 > .imgBlock > div {
        flex-basis: 464px;
        width: 265px;
        border-radius: 46.8px;
        margin: 0 0 48px;
        position: relative;
    }

    .section5 > .imgBlock > div:nth-of-type(1) > img {
        width: 249px;
        height: 402px;
        top: 33px;
        left: -34px;
    }

    .section5 > .imgBlock > div:nth-of-type(2) > img {
        width: 249px;
        height: 402px;
        top: 33px;
        left: -34px;
    }

    .section5 > .imgBlock > div:nth-of-type(3) > img {
        width: 248px;
        height: 401px;
        top: 34px;
        left: -30px;
    }

    .section5 > .imgBlock > div > span {
        font-size: 14px;
    }

    .section5 > .imgBlock > div:not(:nth-of-type(3)) > span {
        margin-bottom: 6px;
    }

    .section5 > .imgBlock > div:nth-of-type(3) > span {
        margin-bottom: 7px;
    }

    .section5 > .imgBlock > div:nth-of-type(1) > span {
        transform: translate(-2px, 0px);
    }

    .section5 > .imgBlock > div:nth-of-type(2) > span {
        transform: translate(-4px, 0px);
    }

    .section5 > .imgBlock > div:nth-of-type(3) > span {
        transform: translate(-4px, 0px);
    }
}