.section6 {
    background: rgb(250, 251, 252);
    height: 503px;
    padding-top: 88px;
}

.section6 > h4 {
    line-height: 18px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #f43939;
    margin: 0 0 16px;
}

.section6 > h2 {
    line-height: 44px;
    font-size: 32px;
    font-weight: bold;
    color: #21272e;
    margin: 0 0 87px;
}

.section6 > .row {
    display: flex;
    width: 1280px;
    max-width: 100%;
    margin: auto;
    justify-content: space-between;
    padding: 0 94px;
}

.section6 > .row::before {
    margin: auto;
    content: "";
    width: 727px;
    min-width: 727px;
    left: 0;
    right: 0;
    height: 2px;
    opacity: .1;
    background-color: #21272e;
    position: absolute;
    transform: translateY(26px);
}

.section6 > .row > div {
    width: 308px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.section6 > .row > div::before {
    content: "";
    width: 121px;
    height: 56px;
    background: rgb(250, 251, 252);
    position: absolute;
    z-index: -1;
}

.section6 > .row img {
    margin-bottom: 32px;
}

.section6 > .row h3 {
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px;
}

.section6 > .row p {
    width: 308px;
    font-size: 14px;
    font-weight: 600;
    color: #787c80;
    line-height: 19px;
    margin: 0 auto;
}

.section6 > .row > div:nth-of-type(2) p {
    width: 200px;
}

.section6 > .row > div:nth-of-type(3) p {
    width: 160px;
}

@media (max-width: 1279px) {
    .section6 > .row {
        padding: 0 30px;
    }
}

@media (max-width: 1023px) {
    .section6 {
        height: 927px;
    }
    .section6 > h2 {
        margin: 0 0 79px;
    }

    .section6 > .row {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .section6 > .row::before {
        width: 2px;
        min-width: 2px;
        height: 404px;
        transform: translateY(105px);
        margin: 0;
        left: auto;
        right: auto;
    }

    .section6 > .row > div {
        background: rgb(250, 251, 252);
    }

    .section6 > .row > div::before {
        content: "";
        width: 57px;
        height: 24px;
        transform: translateY(-24px);
        z-index: -1;
    }

    .section6 > .row > div p::before {
        content: "";
        width: 100%;
        height: 24px;
        transform: translateY(19px);
        background: rgb(250, 251, 252);
        position: absolute;
        z-index: -1;
    }

    .section6 > .row img {
        margin-bottom: 16px;
    }

    .section6 > .row > div:nth-of-type(1) {
        margin-bottom: 104px;
    }

    .section6 > .row > div:nth-of-type(2) {
        margin-bottom: 85px;
    }

    .section6 > .row > div:nth-of-type(3) p {
        width: 331px;
    }
}

@media (max-width: 767px) {

    .section6{
        padding-top: 73px;
    }

    .section6 > h2 {
        line-height: 39px;
        font-size: 28px;
        font-weight: bold;
        color: #21272e;
        margin: 0 0 61px;
    }

    .section6 > .row > div p {
        position: relative;
    }

    .section6 > .row > div p::before {
        content: "";
        width: 100%;
        height: calc(100% + 24px);
        transform: translateY(0);
        z-index: -1;
    }

    .section6 > .row > div:nth-of-type(2) {
        margin-bottom: 104px;
    }
}



