@font-face {
    font-family: "Manrope3";
    font-weight: normal;
    src: url("manrope-regular.otf");
}

@font-face {
    font-family: "Manrope3";
    font-weight: 500;
    src: url("manrope-medium.otf");
}

@font-face {
    font-family: "Manrope3";
    font-weight: 600;
    src: url("manrope-semibold.otf");
}

@font-face {
    font-family: "Manrope3";
    font-weight: bold;
    src: url("manrope-bold.otf");
}

@font-face {
    font-family: "HandOfSeanPro";
    src: url("HandOfSeanRegular.woff2");
}

* {
    box-sizing: border-box;
    font-family: Manrope3;
}

input[type=tel], input[type=text], input[type=tel]:focus, input[type=text]:focus {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
}

a:visited, a {
    color: #21272e;
}

#pos.visible {
    display: initial;
}

.iceBlueTwo {
    width: 100vw;
    height: 700px;
    left: 0;
    position: absolute;
    background: rgb(250, 251, 252);
    z-index: -2;
}


.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    color: #21272e;
}

.navBar {
    width: 100%;
    max-width: 1280px;
}

.App-header, .App-footer, .App-main, section {
    width: 100%;
}

/*--------------------------------------------------------------------------*/

.App-footer {
    width: 100vw;
    height: 146px;
    background-color: #21272e;
    text-align: left;
}

.App-footer > .navBar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 48px;
    margin: 48px auto 23px;
}

.App-footer > .navBar > a {
    color: white;
}

.App-footer > .navBar > a:first-child {
    margin-left: 63px;
    margin-right: 0;
}

.App-footer > .navBar > a.footer-blog {
    display: none;
}

.App-footer > .navBar > .separator {
    width: 1px;
    height: 24px;
    opacity: 0.2;
    background-color: white;
    margin: 0 12px;
}

.App-footer > .navBar > a.inst {
    margin-right: 0;
}

.App-footer > .navBar > a.link {
    margin: 0 0 0 16px;
}

.App-footer > .navBar > a.aStore {
    margin-right: 4px;
    margin-left: auto;
}

.App-footer > .navBar > a.gPlay {
    margin-right: 76px;
}

.App-footer > div {
    width: 100%;
    max-width: 1280px;
    height: 15px;
    font-size: 11px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.25);
    margin: 0 auto;
    line-height: 15px;
    padding-left: 76px;
    box-sizing: border-box;
}
