@media (max-width: 1279px) and (min-width: 1024px) {
    .App-footer > .navBar > a:first-child {
        margin-left: 31px;
    }

    .App-footer > .navBar > a.footer-supplier {
        margin-left: 14px;
    }

    .App-footer > .navBar > a.footer-about {
        margin-left: 17px;
    }

    .App-footer > .navBar > a.footer-contact {
        margin-left: 17px;
    }

    .App-footer > .navBar > a.footer-faq {
        margin-left: 20px;
    }

    .App-footer > .navBar > .separator:last-of-type {
        margin-left: 15px;
    }

    .App-footer > .navBar > a.gPlay {
        margin-right: 44px;
    }

    .App-footer > div {
        padding-left: 48.5px;
    }
    /*-----------------------------------------*/
    .App-footer > .navBar > a.footer-home{
        width: 33px;
    }

    .App-footer > .navBar > a.footer-supplier{
        width: 45px;
    }

    .App-footer > .navBar > a.footer-about{
        width: 32px;
    }

    .App-footer > .navBar > a.footer-contact{
        width: 42px;
    }

    .App-footer > .navBar > a.footer-faq{
        width: 25px;
    }

    .App-footer > .navBar > a.footer-legal{
        width: 30px;
    }

}

/*--------------------------------------------------------------------------*/

@media (max-width: 1023px) and (min-width: 768px) {

    .App-footer {
        height: 193px;
    }

    .App-footer > .navBar {
        flex-wrap: wrap;
        margin-top: 48px;
        margin-bottom: 37px;
    }

    .App-footer > .navBar > a:first-child {
        margin-left: 45px;
        margin-right: 0;
    }

    .App-footer > .navBar > .breaker {
        width: 100%;
        margin-bottom: 18px;
    }

    .App-footer > .navBar > a.footer-blog {
        display: initial;
    }

    .App-footer > .navBar > a.footer-supplier {
        display: none;
    }

    .App-footer > .navBar > a.aStore {
        margin-right: 3px;
        margin-left: 108px;
    }

    .App-footer > .navBar > .separator:last-of-type {
        margin-left: auto;
    }

    .App-footer > .navBar > a.gPlay {
        margin-right: 30px;
    }

    .App-footer > div {
        padding-left: 60px;
    }
}

/*--------------------------------------------------------------------------*/

@media (max-width: 767px) {
    .iceBlueTwo {
        height: 1188px;
    }

    /*--------------------------------------------------------------------------*/
    .App-footer {
        height: auto;
    }

    .App-footer > .navBar {
        flex-wrap: wrap;
        height: auto;
        text-align: center;
        margin-bottom: 17px;
        margin-top: 48px;
        transform: translateX(-2px);
    }

    .App-footer > .navBar > .separator {
        display: none;
    }

    .App-footer > .navBar > a:first-child {
        margin: 0 0 40px;
        width: 100%;
        transform: translateX(2px);
    }

    .App-footer > .navBar > a:first-child > img {
        margin: auto;
        display: block;
    }

    .App-footer > .navBar > a.footer-supplier {
        display: none;
    }

    .App-footer > .navBar > a.footer-home {
        margin: 0 0 24px;
        width: 100%;
        line-height: 17px;
    }

    .App-footer > .navBar > a.footer-about {
        margin: 0 0 24px;
        width: 100%;
        line-height: 17px;
    }

    .App-footer > .navBar > a.footer-contact {
        margin: 0 0 24px;
        width: 100%;
        line-height: 17px;
    }

    .App-footer > .navBar > a.footer-faq {
        margin: 0 0 24px;
        width: 100%;
        line-height: 17px;
    }

    .App-footer > .navBar > a.footer-blog {
        display: initial;
        margin: 0 0 24px;
        width: 100%;
        line-height: 17px;
    }

    .App-footer > .navBar > a.footer-legal {
        margin: 0 0 40px;
        width: 100%;
        line-height: 17px;
    }

    .App-footer > .navBar > a.inst {
        margin: 0 0 41px;
        width: 50%;
    }

    .App-footer > .navBar > a.inst > img {
        display: block;
        margin: 0 12px 0 auto;
    }

    .App-footer > .navBar > a.link {
        margin: 0 0 41px;
        width: 50%;
    }

    .App-footer > .navBar > a.link > img {
        display: block;
        margin: 0 auto 0 12px;
    }

    .App-footer > .navBar > a.aStore {
        margin: 0 9px 0 auto;
        width: 128px;
        height: 40px;
    }

    .App-footer > .navBar > a.aStore > img {
        width: 128px;
        height: 40px;
    }

    .App-footer > .navBar > a.gPlay {
        margin: 0 auto 0 9px;
        width: 128px;
        height: 40px;
    }

    .App-footer > .navBar > a.gPlay > img {
        width: 128px;
        height: 40px;
    }

    .App-footer > div {
        text-align: center;
        padding-left: 0;
        margin-bottom: 16px;
    }
}