@import "animation.css";
.section3 {
    display: flex;
    justify-content: center;
    margin-bottom: 131px;
}

.section3 > .leftBlock {
    width: 533px;
    min-height: 592px;
    flex-shrink: 0;
}

.section3 > .leftBlock > .textBlock {
    position: relative;
    overflow: hidden;
    min-height: 232px;
    margin: 144px 75px 50px 77px;
    padding: 0;
    text-align: left;
}

.section3 > .leftBlock > .textBlock > .CarouselTextBlock {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.4s;
}

.section3 > .leftBlock > .textBlock > .CarouselTextBlock > h2 {
    margin: 0 0 24px;
    width: 290px;
    height: 88px;
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    color: #21272e;
}

.section3 > .leftBlock > .textBlock > .CarouselTextBlock > p {
    width: 381px;
    min-height: 90px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.67;
    color: #787c80;
    margin: 0;
}

.section3 > .leftBlock > .textBlock > .CarouselTextBlock > p > span {
    white-space: nowrap;
}

.section3 > .imgBlock {
    width: 747px;
    height: 592px;
    position: relative;
}
.section3 > .imgBlock > .imgWrapper {
    background: rgb(252, 237, 232);
    border-radius: 50px;
    height: 100%;
    position: absolute;
    padding-top: 43px;
    opacity: 0;
    transition: 0.2s;
}

.section3 > .imgBlock > .imgWrapper:nth-of-type(3) {
    padding-left: 52px;
}

.section3 > .imgBlock img {
    height: 100%;
    margin-left: -55px;

}
.section3 > .imgBlock > .imgWrapper:nth-of-type(3) > img {
    height: calc(100% - 46px);
}

.section3 > .imgBlock > .imgWrapper.activeForward {
    opacity: 1;
    animation: slide 0.4s 1;
}

.section3 > .imgBlock > .imgWrapper.activeReverse {
    animation: slideReverse 0.4s 1;
    opacity: 1;
}
.section3 > .imgBlock > .imgWrapper.backForward {
    opacity: 0;
    animation: hidden 0.4s 1;
}

.section3 > .imgBlock > .imgWrapper.backReverse {
    animation: hiddenReverse 0.4s 1;
    opacity: 0;
}

.section3 > .leftBlock > .textBlock > .CarouselTextBlock.activeForward {
    opacity: 1;
    animation: slide 0.4s 1;
}
.section3 > .leftBlock > .textBlock > .CarouselTextBlock.activeReverse {
    opacity: 1;
    animation: slideReverse 0.4s 1;
}
.section3 > .leftBlock > .textBlock > .CarouselTextBlock.backForward {
    animation: hidden 0.4s 1;
    opacity: 0;
}
.section3 > .leftBlock > .textBlock > .CarouselTextBlock.backReverse {
    animation: hiddenReverse 0.4s 1;
    opacity: 0;
}

.section3 > .leftBlock > .controls {
    display: flex;
    align-items: center;
    margin-left: 78px;
}

.section3 > .leftBlock > .controls label {
    display: inline-flex;
}

.section3 > .leftBlock > .controls input {
    display: none;
}

.section3 > .leftBlock > .controls svg {
    width: 6px;
    height: 6px;
    margin: 0 6px;
}

.section3 > .leftBlock > .controls input:not(:checked) + label {
    opacity: 0.15;
}

.section3 > .leftBlock > .controls input:checked + label {
    opacity: 1;
}

.section3 > .leftBlock > .controls > button {
    outline: none;
    width: 48px;
    height: 48px;
    background: #f0f1f2;
    border: solid 1px #dae1e8;
    border-radius: 50%;
}

.section3 > .leftBlock > .controls > button::after {
    content: "";
    background: url("arrow.svg") center no-repeat;
    width: 100%;
    height: 100%;
    display: block;
}

.section3 > .leftBlock > .controls > button:first-of-type {
    margin-right: 18px;
    transform: scale(-1);
}

.section3 > .leftBlock > .controls > button:last-of-type {
    margin-left: 18px;
}

.section3 > .leftBlock > .controls > button:disabled {
    /*opacity: 0.25;*/
    background: white;
}
.section3 > .leftBlock > .controls > button:disabled::after{
    opacity: 0.25;
}

@media (max-width: 1023px) {
    .section3 {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .section3 > .leftBlock {
        order: 1;
    }

    .section3 > .imgBlock {
        width: 700px;
        margin-left: 68px;
    }

    .section3 > .leftBlock {
        width: 100%;
        height: 323px;
        min-height: 323px;
        display: flex;
        align-items: flex-start;
    }

    .section3 > .leftBlock > .textBlock {
        width: 381px;
        position: relative;
        overflow: hidden;
        height: 232px;
        margin: 60px 0 0 66px;
        padding: 0;
        text-align: left;
    }

    .section3 > .leftBlock > .controls {
        margin-top: 68px;
        margin-right: auto;
        margin-left: 95px;
    }
}

@media (max-width: 767px) {
    .section3 {
        flex-direction: column;
        height: 801px;
        justify-content: flex-start;
    }

    .section3 > .imgBlock {
        height: 394px;
        width: 100%;
        margin: 0;
    }

    .section3 > .imgBlock > .imgWrapper:nth-of-type(3) {
        padding-left: 52px;
    }

    .section3 > .imgBlock img {
        height: 93%;
        margin-left: -20px;

    }
    .section3 > .imgBlock > .imgWrapper:nth-of-type(3) > img {
        height: calc(93% - 46px);
    }

    .section3 > .leftBlock {
        flex-direction: column;
    }

    .section3 > .leftBlock > .textBlock {
        order: 1;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    .section3 > .leftBlock > .textBlock > .CarouselTextBlock > h2 {
        font-size: 28px;
        line-height: 39px;
        height: 78px;
        margin: 0 auto 16px;
    }

    .section3 > .leftBlock > .textBlock > .CarouselTextBlock > p {
        width: 290px;
        margin: auto;
    }
    .section3 > .leftBlock > .textBlock > .CarouselTextBlock > p span{
        white-space: normal;
    }
    .section3 > .leftBlock > .controls {
        margin: 40px auto 38px;
    }
}